body {
  font-family: "Outfit", sans-serif;
  text-align: center;
  background-color: #d6e2f0;
}

main {
  background-color: white;
  width: 300px;
  margin: 170px auto 220px auto;
  padding: 18px 18px 40px 18px;
  border-radius: 20px;
}

img {
  height: 300px;
  border-radius: 15px;
  margin-bottom: 25px;
}

h2 {
  color: #1f3251;
  margin: auto 10px;
}

p {
  font-size: 15px;
  color: #7b879d;
  margin: 20px 18px 0 18px;
}

.attribution {
  font-size: 11px;
}
.attribution a {
  color: #3e52a3;
}
